<article class="task-card">
  <div [ngStyle]="{'background-color': task.type === 'Technical Task' ? '#1FD7C1' : '#0038FF'}" class="badge">{{
    task.type }}</div>

  <h4 class="title">{{ task.title }}</h4>

  <p class="desc" *ngIf="task.description">
    {{ task.description }}
  </p>

  <div class="meta">
    <div class="progress" *ngIf="task.subtasks?.length">
      <div class="bar" [style.width.%]="(doneSubtasksCount / totalSubtasksCount) * 100">
      </div>
    </div>

    <span class="subtasks" *ngIf="task.subtasks?.length">
      {{ doneSubtasksCount }}/{{ totalSubtasksCount }} Subtasks
    </span>
  </div>

  <div class="assignees" *ngIf="task.assignees?.length">
    <div class="assignees__initials">
      <span class="avatar" *ngFor="let a of task.assignees"
        [style.background-color]="getAvatarColor(a.name || a.initials)">
        {{ a.initials || getInitials(a.name) }}
      </span>
    </div>
    <img class="prio-icon" [src]="priorityIcon[task.priority]" alt="'priority ' + task.priority">
  </div>
</article>