<section>
  <img class="logo" src="assets/icons/logo.png" alt="Join Logo" />
  <div class="button-bar">
    <button class="button">
      <div class="sidebar-button">
        <img class="sidebar-button-image" src="/assets/icons/summary.svg" alt="Summary" />
        <span class="sidebar-button-text">Summary</span>
      </div>
    </button>
    <button class="button">
      <div class="sidebar-button">
        <img class="sidebar-button-image" src="/assets/icons/add-task.svg" alt="Add Task" />
        <span class="sidebar-button-text">Add Task</span>
      </div>
    </button>
    <button class="button">
      <div class="sidebar-button">
        <img class="sidebar-button-image" src="/assets/icons/board.svg" alt="Board" />
        <span class="sidebar-button-text">Board</span>
      </div>
    </button>
    <button class="button active">
      <div class="sidebar-button">
        <img class="sidebar-button-image" src="/assets/icons/contacts.svg" alt="Contacts" />
        <span class="sidebar-button-text">Contacts</span>
      </div>
    </button>
  </div>
  <aside class="legal-information">
    <a routerLink="">Privacy Policy</a>
    <a routerLink="">Legal notice</a>
  </aside>
</section>
