section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  width: 230px;
  height: 100vh;
  background-color: #2A3647;
}

.logo{
  width: 100px;
  height: 120px;
}

.button{
  border: none;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CDCDCD;
}

.active{
  background-color: #091931;
  color: #FFFFFF;
}

.button-bar{
  display: flex;
  flex-direction: column;
  padding-bottom: 240px;
  gap: 15px;
  width: 100%;
}

.sidebar-button{
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;

  &:hover{
    cursor: pointer;
    background-color: #29ABE21A;
  }

  & .sidebar-button-image{
    width: 30px;
    height: 30px;
  }

  & .sidebar-button-text{
    color: inherit;
    font-size: 16px;
  }
}

.legal-information{
  display: flex;
  flex-direction: column;
  color: #CDCDCD;
  font-size: 16px;
  gap: 16px;

  & a:hover{
    cursor: pointer;
    color: #29ABE2;
  }
}
