<section class="content">
  <span class="header-text">Kanban Project Management Tool</span>
  <div class="header-buttons">
    <button class="help-button"><img src="/assets/icons/help.svg" alt="Help Button" /></button>
    <button (click)="toggleMenu()" class="nav-button">XX</button>
  </div>
</section>

@if (isMenuOpen) {
  <div class="backdrop" (click)="closeMenu()"></div>
  <div class="header-menu" (click)="$event.stopPropagation()">
    <a class="header-links d-none" routerLink="">Help</a>
    <a class="header-links" routerLink="">Legal Notice</a>
    <a class="header-links" routerLink="">Privacy Policy</a>
    <a class="header-links" routerLink="">Log out</a>
  </div>
}
