.content {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 240px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.10);
  z-index: 10;
}

.header-text {
  font-size: 20px;
  color: black;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  & .help-button {
    border: none;
    background-color: transparent;

    & img {
      width: 20px;
      height: 20px;
      transition: transform 125ms ease;

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }

  & .nav-button {
    border: 3px solid #2A3647;
    border-radius: 50%;
    color: #29abe2;
    width: 48px;
    height: 48px;

    &:hover {
      background-color: #e2e6ec;
      cursor: pointer;
    }
  }
}

.header-menu{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 16pxpx;
  top: 96px;
  right: 20px;
  padding: 18px 0px;
  width: 150px;
  min-height: 160px;
  background-color: #2A3647;
  border-radius: 20px 0 20px 20px;
  z-index: 20;
}

.header-links{
  font-size: 16px;
  color: #CDCDCD;
  text-align: center;
  width: 100%;
  padding: 12px 0;

  &:hover{
    cursor: pointer;
    background-color: #29ABE21A;
  }
}

.d-none{
  display: none;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 5;
}
