.content {
    padding: 90px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #F6F7F8;
    height: 100%;
    width: 100%;

    span {
        color: red;
    }

    label {
        font-size: 20px;
        font-weight: 400;
        color: #2A3647;
    }

    h2 {
        font-size: 61px;
    }

    input:focus,
    textarea:focus,
    select:focus {
        outline: none;
        border: 1px solid #29ABE2;
        box-shadow: none;
    }
    input {
        border-radius: 10px;
        padding: 12px 21px;
        width: 440px;
        height: 48px;
        border: 1px solid #D1D1D1;

        &:hover {
            cursor: pointer;
        }
    }

    ::placeholder {
        font-size: 20px;
        color: #D1D1D1;
        font-weight: 400;
        font-style: 400;
    }

    textarea {
        font-size: 20px;
        width: 440px;
        min-height: 120px;
        max-height: 120px;
        padding: 12px 21px;
        border-radius: 10px;
        border-color: #D1D1D1;
        font-weight: 400;
        font-style: 400;

        &:hover {
            cursor: pointer;
        }
    }

    input[type="date"] {
        font-size: 20px;
        color: #D1D1D1;
    }

.selectWrapper {
  position: relative;
  width: 440px;
}

select {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border-radius: 10px;

  appearance: none;
  font-size: 20px;
}

.arrowImg {
  position: absolute;
  right: 16px;        
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url(../../../../../../public/assets/icons/AddTask/arrow_triangle.svg) no-repeat center;
  background-size: contain;
  pointer-events: none; 
}

    .mainContent {
        display: flex;
        flex-direction: column;

        .divContent {
            display: flex;
            justify-content: space-between;
            height: 376px;
            max-width: 1440px - 80px;
            min-width: 1000px;
        }

        .leftContent,
        .rightContent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            min-height: 400px;
        }

        .titleInContent,
        .descriptionInContent,
        .dueDateContent,
        .assignedToContent,
        .categoryContent,
        .subtaskContent {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .titleInContent{
            height: 128px;
        }

        .dueDateContent{
            max-height: 96px;
            min-height: 96px;
            margin-top: 20px;
        }

        .descriptionInContent{
            max-height: 168px;
            min-height: 168px;
        }

        input.invalid {
          border: 2px solid #E60026;
        }

        .if{
            height: 25px;
            color: #E60026;
        }

        .lineContent {
            height: 424px;
            width: 1px;
            background-color: #D1D1D1;
            border-radius: 1px;
        }

        .priorityContent {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .priorityContentElements {
                display: flex;
                gap: 16px;

                .prioRadio {
                    display: none;
                }

                .priorityBasic {
                    border-radius: 10px;
                    padding: 10px 16px;
                    width: 136px;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    cursor: pointer;
                    transition: 0.2s ease;

                    &:hover {
                        box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.1);
                    }
                }

                #prioUrgent:checked + .priorityUrgent {
                    background-color: #FF3D00;
                    color: white;

                    .priorityUrgentIMG {
                        background-image: url(../../../../../../public/assets/icons/AddTask/chevrons/chevronsUrgentWhite.svg);
                    }
                }

                #prioMedium:checked + .priorityMedium {
                    background-color: #FFA800;
                    color: white;

                    .priorityMediumIMG {
                        background-image: url(../../../../../../public/assets/icons/AddTask/chevrons/chevronsMediumWhite.svg);
                    }
                }

                #prioLow:checked + .priorityLow {
                    background-color: #7AE229;
                    color: white;

                    .priorityLowIMG {
                        background-image: url(../../../../../../public/assets/icons/AddTask/chevrons/chevronsLowWhite.svg);
                        width: 20px;
                        height: 20px;
                    }
                }

                .priorityBasicIMG {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 25px;
                    height: 25px;
                }

                .priorityUrgentIMG {
                    background-image: url(../../../../../../public/assets/icons/AddTask/chevrons/chevronUrgentRealRed.svg);
                }

                .priorityMediumIMG {
                    background-image: url(../../../../../../public/assets/icons/AddTask/chevrons/chevronsMediumOrange.svg);
                }

                .priorityLowIMG {
                    background-image: url(../../../../../../public/assets/icons/AddTask/chevrons/chevronsLowGreen.svg);
                    width: 20px;
                    height: 20px;
                }
            }
        }

        }

        footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            max-width: 1440px - 80px;
            margin-top: 100px;

            p {
                display: flex;
                justify-content: flex-start;
                font-size: 20px;
                font-weight: 400;
                font-style: 400;
                color: black;
            }

            .btnDiv {
                display: flex;
                gap: 16px;

                .btnBasicIcon {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 25px;
                    height: 25px;
                }

                .btnBasic {
                    display: flex;
                    gap: 4px;
                    justify-content: center;
                    align-items: center;
                    padding: 16px;
                    border-radius: 10px;
                    border: 1px #2A3647 solid;
                }

                .btnClear {
                    background-color: #F6F7F8;
                    font-size: 20px;
                    font-weight: 400;

                    .btnClearIcon {
                        background-image: url(../../../../../../public/assets/icons/AddTask/clearIconDarkColor.svg);
                    }

                    &:hover {
                        border: 1px solid #29ABE2;
                        color: #29ABE2;
                        box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.1);

                        .btnClearIcon {
                            background-image: url(../../../../../../public/assets/icons/AddTask/clearIconLightColor.svg);
                        }
                    }
                }

                .btnCreateTask {
                    background-color: #2A3647;
                    color: white;
                    font-style: Bold;
                    font-size: 21px;
                    font-weight: 700;

                    .btnCreateTaskIcon {
                        background-image: url(../../../../../../public/assets/icons/AddTask/createIconLightColor.svg);
                    }

                    &:hover {
                        background-color: #29ABE2;
                        border: 1px solid #29ABE2;
                        box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
