.app-layout {
  display: flex;
  height: 100vh;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
  overflow: hidden;
  height: 100%;
}

@media (max-width: 900px) {
  .app-layout {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .app-layout {
    flex-direction: column;
  }

  .main {
    padding-bottom: 70px;
  }

  .content {
    height: calc(100% - 70px);
  }
}
