.app-layout {
  display: flex;
  height: 100vh;
}

.page-container {
/*  max-width: 1440px; */
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  height: 100%;  
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
  overflow: hidden;
  height: 100%;
  padding-top: 96px;
}

@media (max-width: 991px) {
  .app-layout {
    flex-direction: column;
  }

  .main {
    padding-bottom: 80px;
    min-height: 0;
  }

  .content {
    height: calc(100% - 80px);
    min-height: 0;
  }
}

@media (max-width: 600px) {
  .app-layout {
    flex-direction: column;
  }

  .main {
    padding-bottom: 80px;
  }

  .content {
    height: calc(100% - 80px);
    padding-top: 72px;
  }
}
