<div class="auth-shell">
  <header class="auth-top">
    <div class="logo">
        <img src="/assets/img/Capa-1.png" alt="Join logo" />

    </div>

    <div class="top-right">
      <span>Not a Join user?</span>
      <a class="btn btn-dark" routerLink="/signup">Sign up</a>
    </div>
  </header>

  <main class="auth-main">
    <router-outlet></router-outlet>
        <div class="top-right top-right-mobil">
      <span>Not a Join user?</span>
      <a class="btn btn-dark" routerLink="/signup">Sign up</a>
    </div>
  </main>

  <footer class="auth-footer">
    <a routerLink="/privacy">Privacy Policy</a>
    <a routerLink="/legal">Legal notice</a>
  </footer>
</div>
