.contact-list {
  padding: 16px;
  height: 100%;
  overflow-y: auto;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 56px;
  font-size: 21px;
  font-weight: 700;
  padding: 12px 16px;
  background: #2a3647;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 16px;

  &:hover {
    background: #29abe2;
  }
}

.letter-separator {
  font-size: 20px;
  color: black;
  padding: 12px 0 16px 40px;
  border-bottom: 1px solid #d1d1d1;
  margin-top: 8px;
  margin-bottom: 8px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: #f5f5f5;
  }

  &.selected {
    background: #2a3647;

    & .name {
      font-size: 20px;
      font-weight: 400;
      color: white;
    }
  }
}

.avatar {
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  border: 2px solid white;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
    max-width: 200px;

  .name {
    font-size: 20px;
    font-weight: 400;
    color: #333;
  }

  .email {
    font-size: 16px;
    color: #007cee;
  }
}

@media (max-width: 991px) {
  .contact-list {
    padding: 12px;
    padding-bottom: 80px;
  }

  .add-btn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 0;
    gap: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 40;

    .add-btn-text {
      display: none;
    }

    img {
      width: 29px;
      height: 20px;
    }
  }

  .contact-item {
    padding: 10px;

    & .name {
      color: black;
    }

    &.selected {
      background: white;

      & .name {
        color: black;
        font-size: 20px;
      }

      .avatar {
        width: 40px;
        height: 40px;
        font-size: 16px;
      }
    }
  }

  .info {
    .email {
      font-size: 16px;
    }
  }

  .letter-separator {
    padding-left: 22px;
  }
}

@media (max-width: 600px) {
  .contact-list {
    padding-bottom: 70px;
  }

  .add-btn {
    bottom: 80px;
  }
}
