@use '../../../../../styles.scss' as *;

:host {
  display: block;
  overflow: hidden;
  height: 100%;
}

.contacts-top {
  display: flex;
  align-items: center;
  padding: 24px 24px 8px;
  background: #f6f7f8;
  gap: 15px;
  top: 50px;

  .top-row {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  h1 {
    margin: 0;
    font-size: 46px;
    font-weight: 700;
    color: #111;
    letter-spacing: -0.5px;
  }

  .blue-underline {
    order: 2;
    display: block;
    width: 3px;
    height: 59px;
    background: #29abe2;
    flex-shrink: 0;
  }

  p {
    order: 3;
    margin: 0;
    font-size: 18px;
    color: #2b2b2b;
  }

  .icon-btn {
    width: 44px;
    height: 44px;
    border: 0;
    background: transparent;
    border-radius: 999px;
    display: grid;
    place-items: center;
    cursor: pointer;
    display: none;

    &:active {
      transform: scale(0.98);
    }

    img {
      width: 32px;
      height: 32px;
      display: block;
    }
  }
}

.contact-detail {
  padding: 18px 24px 110px;
  height: 100%;
  overflow-y: auto;
  top: 50px;
  animation: slideInFromRight 400ms ease-out;
}

.header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 8px;
  margin-bottom: 22px;

  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    display: grid;
    place-items: center;
    font-size: 30px;
    border: none;
  }

  .info {
    h2 {
      margin: 0;
      font-size: 34px;
      font-weight: 700;
      color: #111;
      letter-spacing: -0.3px;
    }
  }

  .actions {
    margin-top: 8px;
    display: flex;
    gap: 18px;

    #editContent {
      display: flex;
      align-items: center;
      cursor: pointer;

      #editImg {
        background-image: url(../../../../../../public/assets/icons/pen.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        transition: background-image 0.2s ease;
      }

      button {
        transition: color 0.2s ease;
      }

      &:hover {
        button {
          color: $turquoise;
        }

        #editImg {
          background-image: url(../../../../../../public/assets/icons/pen_teal.svg);
        }
      }
    }

    #deleteContent {
      display: flex;
      align-items: center;
      cursor: pointer;

      #deleteImg {
        background-image: url(../../../../../../public/assets/icons/trash.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        transition: background-image 0.2s ease;
      }

      button {
        transition: color 0.2s ease;
      }

      &:hover {
        button {
          color: $turquoise;
        }

        #deleteImg {
          background-image: url(../../../../../../public/assets/icons/trashHover.png);
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 8px;
      background: transparent;
      border: 0;
      color: #111;
      font-size: 16px;
      cursor: pointer;
      padding: 4px 6px;
      border-radius: 6px;
    }
  }
}

.details {
  h3 {
    margin: 0 0 18px;
    font-size: 20px;
    font-weight: 400;
    color: #111;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .field {
    margin-bottom: 22px;

    .label {
      display: block;
      font-size: 16px;
      font-weight: 700;
      color: #111;
      margin-bottom: 10px;
    }

    a {
      color: #1a56db;
      text-decoration: none;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }

    .value {
      font-size: 16px;
      color: #111;
    }
  }
}

.fab-wrap {
  display: none;
}

.edit-delete-buttons {
  display: flex;
  gap: 8px;
  margin-top: 16px;

  button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 100ms;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 991px) {
  .contacts-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .top-row {
      order: 1;
      width: 100%;
    }

    h1 {
      font-size: 32px;
    }

    p {
      order: 2;
      margin: 0;
      font-size: 16px;
    }

    .blue-underline {
      order: 3;
      width: 92px;
      height: 3px;
      margin-top: 10px;
    }
  }

  .contacts-top .icon-btn {
    display: flex;
  }
  .contact-detail {
    animation: slideInFromRight 400ms ease-out;
    background-color: #f6f7f8;

    &.closing {
      animation: slideOutToRight 400ms ease-in forwards;
    }
  }
  .fab-wrap {
    display: block;
    position: fixed;
    right: 18px;
    bottom: 86px;
    z-index: 9999;
  }

  .fab {
    display: flex;
    position: absolute;
    bottom: 100px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
    display: grid;
    place-items: center;
    box-shadow: none;
  }

  .fab-img {
    width: 56px;
    height: 56px;
    display: block;
  }

  .fab-menu {
    position: absolute;
    right: 5px;
    bottom: 76px;
    width: 170px;
    background: #fff;
    border-radius: 16px 16px 0 16px;
    padding: 8px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
  }

  .fab-item {
    width: 100%;
    border: 0;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px 12px;
    border-radius: 12px;
    font-size: 15px;
    color: #1f2a37;

    &:hover {
      background: #f2f4f7;
    }
  }

  .fab-ic {
    width: 22px;
    display: inline-flex;
    justify-content: center;
  }
  .header .actions {
    display: none !important;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  80% {
    transform: translateX(80%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
