<div class="contacts-top">
  <div class="top-row">
    <h1>Contacts</h1>

    @if (supabase.selectedContact()) {
      <button class="icon-btn" (click)="onClose()" aria-label="Back">
        <img src="assets/icons/arrow-left-line.png" alt="Back">
      </button>
    }
  </div>

  <p>Better with a team</p>
  <span class="blue-underline"></span>
</div>

 <!--  Man verwendet as contact, um auf die keys von selectedContact()/ signal zuzugreifen, um
   dann kürzer die Ausgaben der entsprechenden keys im HTML
   widerzuspegeln ({{ getInitials(contact.name) }}). -->
@if (supabase.selectedContact(); as contact) {
  <div class="contact-detail">
    <div class="header">
      <div class="avatar" [style.background-color]="getAvatarColor(contact.name)">{{ getInitials(contact.name) }}</div>

      <div class="info">
        <h2>{{ contact.name }}</h2>
        <div class="actions">
          <button (click)="editContact()">Edit</button>
          <button (click)="deleteContact()">Delete</button>
        </div>
      </div>
    </div>

    <div class="details">
      <h3>Contact Information</h3>

      <div class="field">
        <span class="label">Email</span>
        <a href="mailto:{{contact.email}}">{{ contact.email }}</a>
      </div>

      <div class="field">
        <span class="label">Phone</span>
        <span class="value">{{ contact.phone || '-' }}</span>
      </div>
    </div>
  </div>

<div class="fab-wrap" (click)="$event.stopPropagation()">
  <button
    type="button"
    class="fab"
    aria-label="More actions"
    [attr.aria-expanded]="fabOpen"
    (click)="toggleFab($event)"
  >
    <img class="fab-img" src="assets/icons/Menu-Contact-options.png" alt="" />
  </button>

  <div class="fab-menu" *ngIf="fabOpen">
    <button type="button" class="fab-item" (click)="editContact(); closeFab()">
      <span>Edit</span>
    </button>

    <button type="button" class="fab-item" (click)="deleteContact(); closeFab() ">
      <span>Delete</span>
    </button>
  </div>
</div>

}
