

.contacts-page{
  display: flex;
  width: 100%;
  height: 100vh;
}

app-sidebar{
  flex: 0 0 232px;
}

.contacts-main{
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

app-header{
  flex: 0 0 auto;
}

.contacts-content{
  flex: 1;
  display: flex;
  min-height: 0;
}

.contacts-page-liste{
  flex: 0 0 456px;
  overflow: auto;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.contacts-page-detail{
  flex: 1;
  overflow: auto;
}
