@use '../../../../../styles.scss' as *;

.contacts-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.contacts-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
  overflow: hidden;
}

.contacts-content {
  flex: 1;
  display: flex;
  min-height: 0;
  overflow: hidden;
  align-items: flex-start;
  position: relative;

  .Toast-Notification {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 50px;
    border: red 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $darkblue;
    border: none;
    color: $white;
  }
}

.contacts-page-liste {
  flex: 0 0 456px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
}

.contacts-page-detail {
  flex: 1;
  overflow: hidden;
}

.Toast-Notification {
  animation: slideAcross 3s ease forwards;
}

@keyframes slideAcross {

  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  90% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

