.contacts-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.contacts-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
  overflow: hidden;
}

.contacts-content {
  flex: 1;
  display: flex;
  min-height: 0;
  overflow: hidden;
}

.contacts-page-liste {
  flex: 0 0 456px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.contacts-page-detail {
  flex: 1;
  overflow: hidden;
}
