.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: white;

  &.drag-over {
    background: #f0fffe;
    border: 2px dashed #20c997;
    box-shadow: inset 0 0 0 2px #20c997;
  }
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #F6F7F8;
  min-height: 60px;
}

.column-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #42526E;
}

.btn-card{
  color: #42526E ;
  border-radius: 6px;
  border: 3px solid #42526E;
  font-weight: 700;
  cursor: pointer;
}

.add-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background: white;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s;

  &:hover {
    border-color: #999;
    background: #f9f9f9;
  }
}

.task-list {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  min-height: 200px;
  position: relative;
  background-color: #F6F7F8;

  // &.drag-over::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   border: 2px dashed #20c997;
  //   border-radius: 4px;
  //   pointer-events: none;
  //   animation: dashAnimation 0.6s linear infinite;
  // }
}

.draggable-task {
  cursor: grab;
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;

  &:active {
    cursor: grabbing;
  }

  &.dragging {
    opacity: 0.3;
    transform: scale(0.95);
  }
}

.task-list.drag-over .draggable-task:not(.cdk-drag-preview) {
  opacity: 0.6;
  transform: scale(0.98);
}

.empty-message {
  min-height: 52px;              
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E7E7E7;
  border: 2px dashed #d7d7d7;
  border-radius: 12px;
  color: #A8A8A8;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;

  box-sizing: border-box;
}

@keyframes dashAnimation {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 10px;
  }
}

@keyframes dragPreviewScale {
  0% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.02);
    opacity: 0.95;
  }
}

::ng-deep .cdk-drop-list-dragging .cdk-drag:hover:not(.cdk-drag-placeholder) {
  transform: translateY(-4px);
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0.4;
  background: #20c997;
  border-radius: 8px;
  transition: all 0.2s ease;
    transform: rotate(15deg);

}
