.col-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    > h3 {
        color: #42526E;
    }
    > button {
        background-color: #F6F7F8;
        border: 3px solid #2a3647;
        border-radius: 8px;
        font-weight: 700;
        cursor: pointer;
    }
}