
.col-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 8px 0;
    > h3 {
        color: #42526E;
    }
    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      line-height: 1;
      background-color: #F6F7F8;
      border: 2px solid #2a3647;
      border-radius: 8px;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;
      transition: color 100ms;

      &:hover {
        border: 2px solid #29ABE2;
        color: #29ABE2;
      }
    }
}

.col-body{
--card-w: 240px;     /* tek kaynak */
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding-top: 16px;
}

.empty-placeholder{
  width: var(--card-w);
  max-width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  background: #E7E7E7;
  border: 1px dashed #C7C7C7;
  color: #B8B8B8;
  text-align: center;
  cursor: pointer;
  margin-top: 0;
}
