<!--<p>board-page works!</p>-->

<section class="board-page">
  <!-- toolbar -->
  <header class="board-page__header">
    <h1 class="board-page__title">Board</h1>

    <div class="board-page__toolbar">
      <div class="search">
        <input
          type="text"
          placeholder="Find Task"

        />
        <button type="button" class="search__icon" aria-label="Search" >
            <img src="assets/icons/search.png" alt="">
        </button>
      </div>

        <button type="button" class="add-task-btn" (click)="openAddTaskDialog()">
        Add task <span>+</span>
      </button>
    </div>
  </header>

  <!-- The main area where the 4 columns are located  -->
  <div class="board">
    <app-board-column
      title="To do"
      [tasks]="todoTasks"
      (taskSelected)="openTaskDetail($event)"
      (addClicked)="openAddTaskDialog()"
    ></app-board-column>

    <app-board-column
      title="In progress"
      [tasks]="inProgressTasks"
      (taskSelected)="openTaskDetail($event)"
      (addClicked)="openAddTaskDialog()"
    ></app-board-column>

    <app-board-column
      title="Await feedback"
      [tasks]="awaitFeedbackTasks"
      (taskSelected)="openTaskDetail($event)"
      (addClicked)="openAddTaskDialog()"
    ></app-board-column>

    <app-board-column
      title="Done"
      [tasks]="doneTasks"
      (taskSelected)="openTaskDetail($event)"
      (addClicked)="openAddTaskDialog()"
    ></app-board-column>
  </div>

    <!-- ✅ Task detail dialog: task seçilince açılır -->
  <app-task-detail-dialog
    *ngIf="selectedTask"
    [task]="selectedTask"
    (closed)="closeDetailDialog()"
  ></app-task-detail-dialog>

  <!-- Dialog  -->
  <app-task-detail-dialog
   *ngIf="showAddTaskDialog"
    (closed)="closeAddTaskDialog()"
  ></app-task-detail-dialog>
</section>