html,
body {
    height: 100%;
}

.board {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    padding: 30px 30px 30px;

}

.board-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
    padding-top: 50px;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 30px 30px;
    }

    &__toolbar {
        display: flex;
        align-items: center;
        gap: 20px; 

    }

    &__title {
        font-size: 46px;

    }
}

.add-task-btn {
    background: #2a3647;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
    max-width: 180px;
    border: none;
    border-radius: 10px;
    padding: 0px 25px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px;
    height: 45px;
    cursor: pointer;

    >span {
        font-size: 20px;
    }
}

.search {
  display: flex;
  align-items: center;
  height: 45px;
  width: 280px;
  border: 1px solid #A8A8A8;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.search > input {
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 0 14px;
  background: transparent;
}

.search > button {
  width: 46px;
  height: 100%;
  border: 0;
  padding: 0;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}


.search > button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;        
  bottom: 8px;        
  width: 1px;
  background: #A8A8A8;
}

.search > button img {
  display: block;
  width: 25px;
}