html,
body {
    height: 100%;
}

.board {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    padding: 30px 30px 30px;

}

.board-page-div{
    max-width: 1440px;
    width: 100%;
}

.board-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
    padding-top: 50px;

    &__header {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 30px 30px;
        min-width: 0;
    }

    &__toolbar {
        display: flex;
        gap: 16px;
        min-width: 0;
        flex: 0 0 auto;

    }

    &__title {
        font-size: 46px;
        flex: 0 0 auto;

    }
}

.add-task-btn {
    flex: 0 0 auto; // asla küçülme
    white-space: nowrap;
    background: #2a3647;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
    max-width: 180px;
    border: none;
    border-radius: 10px;
    padding: 0px 25px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px;
    height: 45px;
    cursor: pointer;

    >span {
        font-size: 20px;
    }
}

.search {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 45px;
    flex: 1 1 260px; // alan varsa büyür, yoksa küçülür
    min-width: 0px; // en az bu kadar kalsın (ihtiyaca göre 160-220)
    max-width: 320px; // çok büyümesin
    width: auto; // 280 sabitini ez
    margin-right: 0;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;

}

.search>input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    padding: 0 14px;
    background: transparent;
    min-width: 0;
}

.search>button {
    width: 46px;
    height: 100%;
    border: 0;
    padding: 0;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.search>button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 8px;
    width: 1px;
    background: #A8A8A8;
}

.search>button img {
    display: block;
    width: 25px;
}



@media (max-width: 1024px) {
    .board-page__header {
        flex-wrap: wrap;
    }

    .board-page__title {
        order: 1;
    }

    .board-page__toolbar {
        order: 2;
        margin-left: auto; // + sağda
    }

    .search {
        order: 3;
        flex: 0 0 100%; // alt satıra indir
        margin-left: 0; // sola yasla
        width: 280px; // full değil
        max-width: 100%;
    }

    .add-task-btn .btn-text {
        display: none;
    }

    .add-task-btn {
        width: 44px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}