*{
margin: 0;
position: relative;
text-decoration: none;
box-sizing: border-box;
scroll-behavior: smooth;
font-size: inherit;
color: inherit;
font-family: inherit;
object-fit: cover;
font-family: Inter;
;}


@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-v20-latin-700.woff2') format('woff2');
}
