* {
  margin: 0;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  object-fit: cover;
  font-family: Inter;
}

$orange: rgb(255, 122, 0);        // #FF7A00
$violet: rgb(147, 39, 255);       // #9327FF
$indigo: rgb(110, 82, 255);       // #6E52FF
$pink: rgb(252, 113, 255);        // #FC71FF
$yellow: rgb(255, 187, 43);       // #FFBB2B
$turquoise: rgb(31, 215, 193);    // #1FD7C1
$dark-purple: rgb(70, 47, 138);   // #462F8A
$red: rgb(255, 70, 70);           // #FF4646
$cyan: rgb(0, 190, 232);          // #00BEE8
$coral: rgb(255, 116, 94);        // #FF745E
$darkblue: #2A3647;
$white: #FFFFFF;




@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/inter-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/inter-v20-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/inter-v20-latin-700.woff2') format('woff2');
}
