.help{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.help-main{
    padding: 30px 30px;
    &__title{
        font-size: 40px;
    }
    &__subtitle{
        font-size: 25px;
    }

}
